.commnet {
  margin-top: 1.5rem  ;
  display: flex;
  gap:  1rem;
}
.commentBox {
  flex: 1;
}
.commentContent {
  border-radius: 8px;
  padding:1rem;
  background: var(--gray-600);
}
.commentContent header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authorAndTime strong {
  display: block;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  line-height: 1.6;
  color: var(--gray-400);
  font-size: .75rem;
}
header button {
  border: 0;
  align-items:initial;
  background: transparent;
  line-height: 0;
  color: var(--gray-300);
}
.commentBox > footer  {
  margin-top: 1rem;
}
.commentBox > footer button {
  background: transparent;
  color: var(--gray-300);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  transition: color .2s;
}
.commentBox > footer button:hover{
  color: var(--green-300);
}